<!doctype html>
<html>

<head>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VitalChat</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        * {
            box-sizing: border-box
        }
    </style>
    <script src="//cdn.pubnub.com/sdk/javascript/pubnub.4.21.7.js"></script>
    <script src="//cdn.jsdelivr.net/npm/bluebird@3.5.5/js/browser/bluebird.min.js"></script>
</head>

<body>
    <video id="localVideo" autoplay muted></video>
    <video id="remoteVideo" autoplay></video>
</body>

<script type="text/javascript">

    var pubnubDemo = new PubNub({
        publishKey: 'pub-c-6f959cde-7073-4fa8-8ca6-d7cfabeeb78e',
        subscribeKey: 'sub-c-803adfdc-7fb4-11e9-aee4-2e27e4d79cf8'
    });

    pubnubDemo.addListener({
        message: function(data) {
            console.log(data);

            if(data.channel === 'offer'){
                startWebRTC(data.message.offer).then((answer) => {
                    console.log(answer);
                    sendAnswer(answer);
                });
            } else if(data.channel === 'disconnect'){
                disconnect();
            }
        }
    });

    pubnubDemo.subscribe({
        channels: ['offer', 'disconnect']
    });

    function sendAnswer(answer) {
        pubnubDemo.publish({
            message: {
                answer : answer
            },
            channel: 'answer'
        });
    }
</script>

<script>
    const configuration = {
        iceServers: [{
            urls: 'stun:stun.l.google.com:19302' // Google's public STUN server
        }],
        iceTransportPolicy: 'all', 
        bundlePolicy: 'max-bundle', 
        rtcpMuxPolicy: 'require',
        iceCandidatePoolSize: 0
    };

    function onSuccess() {};
    function onError(error) {
        console.error(error);
    };

    let pc;
    function startWebRTC(offer) {
        pc = new RTCPeerConnection(configuration);
        pc.onicecandidate = event => {
            if (event.candidate) {
                // sendMessage({'candidate': event.candidate});
            }
        };
    
        pc.onaddstream = event => {
            remoteVideo.srcObject = event.stream;
        };
    
        return navigator.mediaDevices.getUserMedia({
            audio: { 
                echoCancellation: true 
            },
            video: {
                width: 640,
                height: 480
            },
        }).then(stream => {

            localVideo.srcObject = stream;
            pc.addStream(stream);

            
            return pc.setRemoteDescription(new RTCSessionDescription({
                type: 'offer',
                sdp: offer
            })).then(() => {

                return pc.createAnswer().then((answer) => {
                    
                    return pc.setLocalDescription(answer).then(()=>{

                        return waitForIce().then(()=>{

                            return pc.localDescription;
                        });
                    }); 
                });
            });
        });
    }

    function waitForIce(){
        if(pc.iceGatheringState === 'complete'){
            return;
        } else {
            return Promise.delay(200).then(()=>{
                return waitForIce();
            });
        }
    }

    function disconnect() {
        location.reload(true);
    }
</script>
</html>